:root{
    --blue-sapphire-clr: #2a40bf;
    --blue-cobalt-clr: #2b3a8c;
    --blue-royal-clr: #1935ca;
    --dark-royal-clr: #0d24a1;
    --blue-indigo-clr: #140b99;
    --white-smoke-clr: #fbf9f9;
    --white-clr: #fffffe;
    --yellow-clr: #f2cb05;
    --dark-yellow-clr: #dfba00;
    --orange-clr: #f2a007;
    --primary-text-clr: #696F79;
}

/* Pantalla de cada juego */
.container__content{
    background-color: var(--white-smoke-clr);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 1em;
}

/* Estilos de la pantalla sala de espera */
.room__container{
    border-radius: 1em;
    padding: 2vw 0px 2vw 2vw;
    background-color: var(--white-clr);
    box-shadow: 1px 1px 25px 3px rgba(0, 0, 0, 0.05);
    height: 100%;

    display: grid;
    grid-template-columns: 80% 20%;

    .container__content{
        background-color: var(--white-smoke-clr);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.05);
        border-radius: 1em;
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;  
        padding-inline: 2.5%;  
        align-items: center;
        justify-items: center;
    }
    
    .content__box{
        background-color: white;
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);
        border-radius: 1em;
        width: 80%;
        height: 90%;
        max-height: 15vh;
    
        display: grid;
        grid-template-rows: 20% 80%;
    }
    
    .box__title{
        background-color: var(--blue-royal-clr);
        border-radius: 1em 1em 0px 0px;
        font-size: 0.9vw;
        font-weight: 600;
        color: white;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .box__data{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .data__player{
        box-shadow: 0 4px 1px -2px rgba(0, 0, 0, 0.05);
        height: 100%;
    
        display: flex;
        align-items: center;
        justify-content: space-around;
    
        font-size: 0.9vw;
        color: forestgreen;
    }
    
    .data__player:last-child{
        box-shadow: none;
    }
    
    .player__text{
        color: var(--primary-text-clr);
        font-weight: 500;
    }
    
    .container__information{
        display: grid;
        grid-template-rows: 10% 70% 20%;
        padding-inline: 2vw;
        align-items: center;
        justify-items: center;
    }
    
    .information__title{
        color: var(--blue-royal-clr);
        font-size: 1vw;
        font-weight: 500;
    }
    
    .information__description{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 5%;
    
        font-size: 0.8vw;
        text-align: center;
    }
    
    .information__button{
        background-color: var(--blue-royal-clr);
        width: 8vw;
        height: 3vw;
        border-radius: 5px;
        cursor: pointer;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .button__help{
        all: unset;
        color: white;
        font-size: 1vw;
        font-weight: 500;
    }

    
}

/* Animación pop */
@keyframes pop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Aplicar la animación a la tarjeta del nuevo usuario */
  .content__box.pop {
    animation: pop 0.5s ease-in-out;
  }

/* Pantalla describir el dibujo */
.describe__container{
    border-radius: 1em;
    padding-inline: 2.5vw;
    background-color: var(--white-clr);
    box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.05);
    height: 100%;

    display: grid;
    grid-template-rows: 12% 76% 12%;
        
    .container__top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .top__title{
        font-size: 1vw;
        font-weight: 600;
        color: var(--blue-royal-clr);
    }

    .top__text{
        font-size: 0.9vw;
        font-weight: 500;
    }

    .container__content{
        width: 100%;
        height: 100%;
        background-color: var(--white-smoke-clr);
        box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.02);
        border-radius: 1em;

        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .content__box{
        position: relative;
        width: 22%;
        height: 55%;
        max-width: 25vw;
        max-height: 40vh;

        display: flex;
        flex-direction: column;
        gap: 5%;
    }

    .box--active{
        position:absolute;
        width: 30%;
        height: 65%;
        max-width: 30vw;
        max-height: 50vh;
        z-index: 1;
    }

    .box__shape{
        width: 100%;
        height: 100%;
        border-radius: 1em;
        background-color: white;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.02);
    }

    .box__text{
        text-align: center;
        font-size: 0.9vw;
        font-weight: 500;
        color: var(--blue-royal-clr);
    }

    .container__bottom{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
    }

    .bottom__text{
        position: absolute;
        font-size: 1vw;
        font-weight: 500;
    }

    .bottom__button{
        margin-left: auto;
        justify-self: end;
        background-color: var(--blue-royal-clr);
        width: 8vw;
        height: 3vw;
        border-radius: 5px;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button__help{
        all: unset;
        color: white;
        font-size: 1vw;
        font-weight: 500;
    }
}